// _colors.scss
$main-background-color: rgb(6, 63, 6);
$button-background-color: rgba(20, 208, 20, 0.47);
$button-background-color-hover: #fff;
$main-font-color: #fff;
$font-family: 'Poppins', sans-serif;

$color1: #004c3f;
$main-background-game: #bcf4eb;
$background-dropbox: #507b76;
$background-letter: #00cbb3;
$navbar: #ff7f50;
$background-home: #00cb76;

$color6: #ffe850;
$navbar: #ff7f50;
$color8: #ff3c3c;
$color9: #ebeff2;


