

<div class="about-container">
  <div class="featured-post">
    <h1 class="featured-title">Sobre</h1>
    <p class="featured-text">
      O Apps4Society é um projeto de extensão desenvolvido pela UFPB-Campus IV e que visa construir aplicativos que venham a impactar positivamente a sociedade,
      promovendo também a capacitação dos estudantes dos cursos de Licenciatura em Ciência da Computação e Bacharelado em Sistemas de Informação. FALAR MAIS UM POUCO
      SOBRE O SISTEMA
    </p>
    <div class="social-links">
      <a href="https://apps4society.dcx.ufpb.br/" class="post-link a4s-icon" target="_blank"></a>
      <a href="https://github.com/a4s-ufpb" class="post-link github-icon" target="_blank"></a>
      <a href="https://www.instagram.com/apps4society/" class="post-link instagram-icon" target="_blank"></a>
      <a href="apps4society@dcx.ufpb.br" class="post-link gmail-icon" target="_blank"></a>

    </div>
  </div>

  <div class="post-grid">

    <div class="post-card">
      <div class="post-category">Coordenadora</div>
      <h2 class="post-title">Ayla Débora</h2>
      <p class="post-date">Professora UFPB-Campus IV</p>
      <p class="post-summary">
          Professora pesquisadora do DCX/CCAE nas áreas de Educação em Computação, Informática na Educação, Engenharia de Software, Sistemas Distribuídos e Sistemas Adaptativos.
      </p>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/ayla-dantas-1256802/" class="post-link linkedin-icon" target="_blank"></a>
      </div>
    </div>

    <div class="post-card">
      <div class="post-category">Aluno</div>
      <h2 class="post-title">Lucas Felipe</h2>
      <p class="post-date">desenvolvedor fullstack</p>
      <p class="post-summary">
        Graduando em Ciência da Computação no campus IV da UFPB, em Rio Tinto-PB. Áreas de Interesse: Desenvolvimento FullStack, Java, Python, PHP, Testes
      </p>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/lucas-felipe-gomes-pedrosa-a96a0825a/" class="post-link linkedin-icon" target="_blank"></a>
        <a href="https://github.com/FLucasF" class="post-link github-icon" target="_blank"></a>
      </div>
    </div>

    <div class="post-card">
      <div class="post-category">Design</div>
      <h2 class="post-title">Daiane Maria</h2>
      <p class="post-date">UX/UI</p>
      <p class="post-summary">
        This is a wider card with supporting text below as a natural lead-in to
        additional content.
      </p>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/daiane-maria-69393421a" class="post-link linkedin-icon" target="_blank"></a>
      </div>

    </div>
  </div>
</div>
