<div class="container-navbar">
  <header>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/context" routerLinkActive="active" class="nav-link">Contextos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tutorial" routerLinkActive="active" class="nav-link">Tutorial</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link">Sobre</a>
      </li>
    </ul>
  </header>
</div>
