<div class="home-container">

  <div class="left-container">
    <!-- Nova imagem no lado esquerdo -->
    <img src="../../assets/home_images/a_b_c.png" alt="Background" class="background-image-left">

    <!-- Botão abaixo da imagem -->
    <a routerLink="/context"> <!-- Mudei de /game para /context -->
      <button class="btn">Iniciar</button>
    </a>
  </div>

  <!-- Imagem no lado direito -->
  <img src="../../assets/home_images/india.png" alt="Background" class="background-image-right">

</div>
